<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <%= link_to "Team", team_path %>
      </li>
      <li class="nav-item">
        <%= link_to "Contact", contact_path %>
      </li> 
    </ul>
  </div>
</nav>

<h1>Welcome <%= @prenom %>  !</h1>

<p>Quelle est votre </p>



<h2>Voici les potins déjà existant </h2>
<table>
  <thead>
    <tr>
      <th>id</th>
      <th>Auteur</th>
      <th>Potin</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @Gossips.each_with_index do |potin|%>
      <tr>
        <td><%= potin.id %><td>
        <td><%= potin.author %></td>
        <td><%= potin.content %></td>
      </tr>
    <% end %>
  </tbody>
</table>